.flex-container {
    margin: 0;
    padding: 0 5px;
}

#body {
    position: relative;
    /*overflow: hidden;*/
}
#flex {
    width: 200px;
    height: 200px;
    background-color: #f1a5e3;
    position: absolute;
}

/*
#vertical,
#horizontal {
    position: absolute;
}

#horizontal {
    left: 200px;
    top: 348px;
    width: 846px;
    border: 1px solid #91d3c6;
}
#vertical {
    top: 200px;
    left: 693px;
    height: 300px;
    border: 1px solid #91d3c6;
}*/
