.flex-container {
    margin: 0;
    padding: 0 5px;
}

#body {
    position: relative;
    /*overflow: hidden;*/
}
#flex {
    padding: 15px;
    text-align: center;
    background-color: #f1a5e3;
    position: absolute;
}
#flex:hover {
    background: #91d3c6;
    cursor: pointer;
}

.fade {
    padding: 15px;
    text-align: center;
    margin: 0 0 10px;
}
.is-hidden {
    display: none;
}
#one {
    margin-top: 10px;
    background: aquamarine;
}

#two {
    background: #fdd097;
}

#three {
    background: sienna;
}

/*
#vertical,
#horizontal {
    position: absolute;
}

#horizontal {
    left: 200px;
    top: 348px;
    width: 846px;
    border: 1px solid #91d3c6;
}
#vertical {
    top: 200px;
    left: 693px;
    height: 300px;
    border: 1px solid #91d3c6;
}*/
